@charset "utf-8";
html,body {
	height: 100%;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/ldsguitarhymns.jpg);
	background-repeat:no-repeat;
	background-position: 50% 0px;
}

#logo-header {
	width: 951px;
	padding-top: 120px;
	margin-right: auto;
	margin-left: auto;
}

#nav-header {
	width: 951px;
	margin-right: auto;
	margin-left: auto;
	text-align: right;
	padding-top: 20px;
	padding-bottom: 20px;

	font: arial;
	font-size: 11px;
	color: white;
}

#nav-header a:hover {
	font: arial;
	font-size: 11px;
	color: #dfa701;
}

#nav-header a.activenav {
	font: arial;
	font-size: 11px;
	color: white;
}

#nav-header a {
	font: arial;
	font-size: 11px;
	color: white;
}

#nav-header a span {
	font: arial;
	font-size: 11px;
	color: white;
}

#product {
	width: 951px;
	height: 586px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
/*	background-color: white;*/
}

#product-main {
	width: 951px;
	height: 586px;
	background-image: url(../images/ldsguitarhymns_com_images.jpg);
	background-repeat: no-repeat;
}

#product-contact {
	width: 951px;
	height: 390px;
	background-color: white;
}

#product-faq {
	width: 951px;
	height: 390px;
	background-color: white;
}

#product-sample {
	width: 951px;
	height: 60px;
	background-color: white;
}

#product-hymns {
	width: 951px;
	height: 390px;
	background-color: white;
}

#product-hymns-2 {
	width: 951px;
	height: 390px;
	background-color: white;
}

#main-text {
	font: arial;
	font-size: 30px;
	color: #6e6e6c;
	padding-top: 70px;
	padding-left: 320px;
	font-family: Gotham Light;	
}

#main-text-medium {
	font: arial;
	font-size: 20px;
	color: #6e6e6c;
	padding-top: 6px;
	padding-left: 320px;	
	font-family: Gotham Light;	
}

#main-text-normal {
	font: arial;
	font-size: 12px;
	color: #6e6e6c;
	padding-top: 6px;
	padding-left: 320px;	
	padding-right: 20px;	
	font-family: Gotham Light;	
}

#contact-text {
	font: arial;
	font-size: 30px;
	color: #6e6e6c;
	padding-top: 60px;
	padding-left: 50px;	
	font-family: Gotham Light;	
}

#contact-text-normal {
	font: arial;
	font-size: 12px;
	color: #6e6e6c;
	padding-top: 16px;
	padding-left: 50px;	
	font-family: Gotham Light;	
}

#faq-text {
	font: arial;
	font-size: 20px;
	color: #6e6e6c;
	padding-top: 25px;
	padding-left: 50px;	
	font-family: Gotham Light;	
}

#faq-text-normal {
	font: arial;
	font-size: 12px;
	color: #6e6e6c;
	padding-top: 10px;
	padding-left: 50px;	
	font-family: Gotham Light;	
}

#hymns-text {
	font: arial;
	font-size: 30px;
	color: #6e6e6c;
	padding-top: 40px;
	padding-left: 50px;	
	font-family: Gotham Light;	
}

#hymns-text-normal {
	font: arial;
	font-size: 12px;
	color: #6e6e6c;
	padding-top: 5px;
	padding-left: 50px;	
	font-family: Gotham Light;	
}

#sample-div {
	display: none;
	height: 700px;
	width: 951px;
	margin-top: -530px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	z-index: -999;
}